@import 'styles/variables';

.container {
  display: block;
  transition: all 0.3s ease-out 0.1s;
  border-radius: 50%;
  &.active {
    transform: scale(1.1, 1.1);
    img {
      box-shadow: $color-shadow 0 8px 64px;
    }
  }
  &.inactive {
    opacity: 0.5;
  }
  img {
    border-radius: 50%;
  }
  h3 {
    color: $color-grey;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 8px 0 0;
  }
}
