html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

body {
  color: #0A0912;
}

footer {
  height: 80px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
